---
import Main from '../layouts/Main.astro';

const profilePicture = "https://i.imgur.com/JPGFE75.jpg";
---

<Main>
	<section class="profile">
		<img alt="Frau Katerina's website" class="profile__picture" width="100px" height="100px" src={profilePicture} />
		<div class="profile__details">
			<h1>Frau Katerina</h1>
			<h2>VP of Engineering at Gooogle</h2>
			<p>
				Helping developers be excellent and suceed at building scalable products.
			</p>
		</div>
	</section>
</Main>

<style>
	.profile {
		display: flex;
		align-items: start;
		flex-wrap: wrap;
		padding: 1rem 0 3rem 0;
	}

	.profile__details {
		flex: 1 0 300px;
	}

	.profile__details > h1 {
		padding: 0;
	}

	.profile__picture {
		border-radius: 50%;
		margin: 0 2rem 1rem 0;
	}
</style>